* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin-top: 1rem;
}
main {
  padding: 1.5rem 0.5rem;
  color: white;
  margin: auto;
  width: 320px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.719);
}
main .input {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.5rem;
  border-radius: 1rem;
}
div.input {
  height: 32%;
  background-color: #bccd95;
}
div.input input {
  height: 45%;
  width: 90%;
  margin: auto;
  background-color: #bccd95;
  outline: none;
  border: none;
  font-size: 30px;
  padding: 0.3rem;
  text-align: right;
}

div.alt {
  margin-top: 2rem;
  height: 40%;
  width: 100%;
  gap: 0.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
}
.alt div {
  width: 3.3rem;
  height: 3.3rem;
  gap: 0.5rem;
  background-color: rgba(149, 146, 140, 0.315);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  box-shadow: 2px 2px 5px;
}
.alt div:hover {
  transform: scale(0.92);
  opacity: 0.7;
}
.gri {
  background-color: rgba(149, 146, 140, 0.892) !important;
}
.islem {
  background-color: rgb(213, 129, 10) !important;
}
.sıfır {
  grid-column: 1/2 span;
  width: 9rem !important;
  border-radius: 80% !important;
}
